#copynotice {
    color: Gray;
    text-align: center;
}

.controlpanel {
    border: 2px solid Gray;
    border-radius: 20px;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    padding-top: 0px;
    padding-bottom: 15px;
    width: 66%;
}

a, a:active, a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: Black;
    text-decoration: underline;
}

.controlpanel fieldset {
    border: 1px dotted LightGray;
    border-radius: 10px;
    padding: 1em;
    margin-top: 15px;
}

body, input, button {
    font-family: Garamond, Helvetica, sans-serif;
    font-size: 9.5pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Garamond, sans-serif;
}

h1 {
    text-align: center;
}

legend {
    color: Gray;
    font-family: Helvetica, Garamond, sans-serif;
    font-size: 10pt;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    top: -0.25em;
}

input[type="text"], input[type="password"] {
    border: 1px LightGray solid;
    border-radius: 2px;
    height: 1.5em;
}
