li.dropbox {
    position: relative;
}

.dropbox_modify {
    position: absolute;
    right: 0;
    background-color: White;
}

.dropbox_file {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
